* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fjalla One", serif;
    background:
}


header {
    display: flex;
    justify-content: space-between;
    background: black;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

nav {
    /*    background: black;*/
}

h1 {
    color: indianred;
    font-size: 3em;
    padding-left: 5px;
    /*     background: black*/
}

nav ul {
    display: block;
    width: 100% padding: 0;
    border: 1px solid;
    padding-right: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px;

}

nav li {
    list-style-type: none;
    margin-left: 15px;

}

nav li:hover {
    background-color: midnightblue;
    color: red;
    /*    padding: 0.5em;*/
    border-radius: 0.5em;

}

@media screen and (min-width: 600px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }
}

.obstakel {
    position: relative;
    width: 20rem;
    height: 15rem;
/*    display: block;*/
    margin: auto;
}
